body {
  margin: 0;
  padding: 0px;
  background-color: #f0f0f0;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333333; }

h1 {
  margin: 0;
  color: #000; }

#welcome #blurb {
  background-color: white;
  border-radius: 5em;
  border: 3px solid firebrick;
  padding: 15px;
  left: 630px;
  top: 230px;
  position: absolute;
  width: 300px; }

#welcome #header #logo {
  height: 300px;
  width: 800px; }

#welcome #content {
  margin-top: 20px;
  width: 980px; }

#welcome #content #rulesOfEngagement {
  background-color: white;
  border-radius: 5em;
  border: 3px solid firebrick;
  padding: 15px;
  width: 65%;
  float: left; }

#welcome #content #doRubyTuesdayVenues {
  background-color: white;
  border-radius: 5em;
  border: 3px solid firebrick;
  padding: 15px;
  width: 25%;
  float: right; }

#twitterFall {
  padding-bottom: 25px; }
