<!DOCTYPE html>
<html>
  <head>
    <title>Do Ruby Tuesday!</title>
    <link type="text/css" media="screen" rel="stylesheet" href="/stylesheets/application.css"></link>
  </head>
  <body>
		<div id="content">
			<h1>Ruby Tuesday</h1>
			<img id="logo" src="images/ruby_tuesday.png" />
			<div id="about-text">
				<span class="slogan">Learn Ruby! On Tuesday!</span>

				<span class="desc">Meet up at any local coffee shop at 7:30.  Learn Ruby.
				We'll sell you a pennant (at cost), and promote the event here and on twitter.</span>
			</div>
		</div>
  </body>
</html>
