<div id="welcome">
	<div id="header">
		<img id="logo" src="images/ruby_tuesday.png" />
	</div>
	<div id="blurb">
		<div id="about-text">
			<span class="slogan">Learn Ruby! On Tuesday!</span>

			<span class="desc">Meet up at any local coffee shop at 7:30.  Learn Ruby.
			We'll sell you a pennant (at cost), and promote the event here and on twitter.</span>
		</div>
	</div>

	<div id="content">
		<div id="leftColumn">
			OMG LEFT
		</div>
		<div id="rightColumn">
			<div id="rules">
				<h2>Rules of Engagement</h2>
				<ul>
					<li>Pick a coffee shop</lib>
					<li>Show up at 7:30</li>
					<li>Plant your pennant</li>
					<li>Do ruby</lib>
				</ul>
			</div>
			<div id="twitterFall">
			</div>
		</div>
	</div>
</div>
