<div id="welcome">
	<div id="header">
		<img id="logo" src="images/ruby_tuesday.png" />
	</div>
	<div id="blurb">
		<div id="about-text">
			<span class="slogan">Learn Ruby! On Tuesday!</span>

			<span class="desc">Meet up at any local coffee shop at 7:30.  Learn Ruby.
			We'll sell you a pennant (at cost), and promote the event here and on twitter.</span>
		</div>
	</div>

	<div id="content">
		<div id="leftColumn">
			OMG LEFT
		</div>
		<div id="rightColumn">
			<div id="rules">
				<h2>Rules of Engagement</h2>
				<ul>
					<li>Pick a coffee shop</lib>
					<li>Show up at 7:30</li>
					<li>Plant your pennant</li>
					<li>Do ruby</lib>
				</ul>
			</div>
			<div id="twitterFall">
				<script src="http://widgets.twimg.com/j/2/widget.js"></script>
				<script>
				new TWTR.Widget({
					version: 2,
					type: 'search',
					search: '#dorubytuesday',
					interval: 6000,
					title: 'Ruby Tuesday!',
					subject: 'OMG!',
					width: 250,
					height: 300,
					theme: {
						shell: {
							background: '#8ec1da',
							color: '#ffffff'
						},
						tweets: {
							background: '#ffffff',
							color: '#444444',
							links: '#1985b5'
						}
					},
					features: {
						scrollbar: false,
						loop: true,
						live: true,
						hashtags: true,
						timestamp: true,
						avatars: true,
						toptweets: true,
						behavior: 'default'
					}
				}).render().start();
				</script>
			</div>
		</div>
	</div>
</div>
