<div id="welcome">
	<div id="header">
		<img id="logo" src="/images/ruby_tuesday.png" />
	</div>

	<div id="menu-row">
		<span class="menu-item"><%= link_to "Store", store_show_path, :class => 'menu-item' %></span>
		<span class="menu-sep">|</span>
		<span class="menu-item"><%= link_to "Help Wanted", help_wanted_show_path, :class => 'menu-item' %></span>
		<span class="menu-sep">|</span>
		<span class="menu-item"><%= link_to "Testimonials", testimonials_show_path, :class => 'menu-item' %></span>
		<span class="menu-sep">|</span>
		<span class="menu-item"><%= link_to "Contact", contact_show_path, :class => 'menu-item' %></span>
	</div>

	<div id="content">
		<div id="rulesOfEngagement">
			<table cellspacing="10">
				<tr>
					<th>Venue</th>
					<th>City</th>
					<th>State</th>
					<th>Reps</th>
				</tr>
				<tr>
					<td>Main Street Coffee House</td>
					<td>South Bend</td>
					<td>Indiana</td>
					<td>
						<a href="http://twitter.com/78mgb">@78mgb</a>, 
						<a href="http://twitter.com/kbaribeau">@kbaribeau</a>
					</td>
				</tr>
				<tr>
					<td>On @bostonaholic&apos;s Couch</td>
					<td>Columbus</td>
					<td>Ohio</td>
					<td><a href="http://twitter.com/bostonaholic">@bostonaholic</a></td>
				</tr>
				<tr>
					<td>A Pillar Code Dojo</td>
					<td>Ann Arbor</td>
					<td>Michigan</td>
					<td><a href="http://twitter.com/cremba">@cremba</a></td>
				</tr>
			</table>
		</div>
		<div id="doRubyTuesdayVenues">
			<div id="rules">
				<h2>Rules of Engagement</h2>
				<ul>
					<li>Meet at a locally owned venue</li>
					<li>Plant your pennant!</li>
					<li>Do Ruby!</li>
					<li>Tweet about it #dorubytuesday</li>
				</ul>
			</div>
			<div id="twitterFall">
				<script src="http://widgets.twimg.com/j/2/widget.js"></script>
				<script>
				new TWTR.Widget({
					version: 2,
					type: 'search',
					search: '#dorubytuesday',
					interval: 4000,
					title: 'Ruby Tuesday!',
					subject: 'ROMG!',
					width: 250,
					height: 300,
					theme: {
						shell: {
							background: '#b22222',
							color: '#ffffff'
						},
						tweets: {
							background: '#ffffff',
							color: '#444444',
							links: '#000000'
						}
					},
					features: {
						scrollbar: false,
						loop: true,
						live: true,
						hashtags: true,
						timestamp: true,
						avatars: true,
						toptweets: true,
						behavior: 'default'
					}
				}).render().start();
				</script>
			</div>
		</div>
	</div>
</div>
