<div id="welcome">
	<div id="header">
		<img id="logo" src="images/ruby_tuesday.png" />
	</div>
	<div id="blurb">
		<div id="about-text">
			<span class="desc">Do Ruby! On Tuesday!!</span>
		</div>
	</div>

	<div id="content">
		<div id="rulesOfEngagement">
			<table cellspacing="10">
				<tr>
					<th>Location Name</th>
					<th>City</th>
					<th>State</th>
					<th>Reps</th>
				</tr>
				<tr>
					<td>Main Street Coffee House</td>
					<td>South Bend</td>
					<td>Indiana</td>
					<td>
						<a href="http://twitter.com/78mgb">@78mgb</a>, 
						<a href="http://twitter.com/kbaribeau">@kbaribeau</a>
					</td>
				</tr>
				<tr>
					<td>On @bostonaholic&apos;s Couch</td>
					<td>Columbus</td>
					<td>Ohio</td>
					<td><a href="http://twitter.com/bostonaholic">@bostonaholic</a></td>
				</tr>
				<tr>
					<td>A Pillar Code Dojo</td>
					<td>Ann Arbor</td>
					<td>Michigan</td>
					<td><a href="http://twitter.com/cremba">@cremba</a></td>
				</tr>
			</table>
		</div>
		<div id="doRubyTuesdayVenues">
			<div id="rules">
				<li>Meet at a locally owned venue</li>
				<li>Around 7:30pm local time</li>
				<li>Do Ruby!</li>
				<li>Tweet to #dorubytuesday</li>
				<li>Buy a Do Ruby Tuesday pennant (at cost) and mark your event!</li>
			</div>
			<div id="twitterFall">
			</div>
		</div>
	</div>
</div>
