<h1>Help Wanted!</h1>

<h2>Hey! We need help!</h2>
	<p> We're looking to expand the site, feel free to 
		<a href="https://github.com/kbaribeau/do_ruby_tuesday">fork the github repo</a>
		and add whatever you like, but we're especially interested in the following
	</p>
<ul>
	<li>Make it look more awesome</li>
	<li>Improve the dev environment (for the record, we think rspec's is super-cool)</li>
	<li>work on something random from <a href="https://www.pivotaltracker.com/projects/134874">the backlog</a></li>
</ul>

<%= link_to "Go Home", "/" %>

