$text-color: #333;
$page-width: 800px;

body {
	margin: 0;
	padding: 0px;
	background-color: #f0f0f0;
	font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
	font-size: 13px;
	color: $text-color;
}

h1 {
	margin: 0;
	color: #000;
}


$blurb-width: 300px;

@mixin rounded-box {
	background-color: white;
	border-radius: 5em;
	border: 3px solid firebrick;
	padding: 15px;
}

#welcome #blurb {
	@include rounded-box;

	left: $page-width - $blurb-width - 50px;
	top: 230px;
	position: absolute;
	width: $blurb-width;
}

#welcome #header #logo {
	height: 300px;
	width: $page-width;
}

#welcome #header {
}

#welcome #content {
	margin-top: 20px;
	width: $page-width;
}

#welcome #content #rulesOfEngagement {
	@include rounded-box;

	width: 65%;
	float: left;
}

#welcome #content #doRubyTuesdayVenues {
	@include rounded-box;

	width: 25%;
	float: right;
}

