<h1>Contact us!</h1>

<h2>About us</h2>
<p>We're just a couple of guys who wanted an excuse to do some ruby every week (or more). Tuesday seemed
like the easiest way to remember, and what better project could we pick than one to encourage people to join us?
</p>
<p>
Feel free to contact us on twitter if you'd like to get to know us better
</p>

<h2>Twitter</h2>
<ul>
	<li>@kbaribeau</li>
	<li>@78mgb</li>
</ul>


<%= link_to "Go Home", "/" %>
