<h1>Testimonials</h1>

<h2>Coming Soon!</h2>
<p>We're looking for testimonials!  If you want to say something like "Doing ruby is always better on a Tuesday!",
or "I love Ruby, especially on Tuesdays!", <%= link_to "drop us a line", contact_show_path %>, and we'll put your name and quote up here.</p>

<p>Also, don't forget to tweet with the #dorubytuesday hashtag!</p>


