<h1>Store!</h1>

<h2>Coming Soon!</h2>
<p>Our plan is to sell little flags that say Ruby Tuesday! You can bring them to your local cofee shop,
put them up while your working, and everyone will know your working on ruby, and are happy to hang out
with anyone else who might be interested.</p>

<%= link_to "Go Home", "/" %>

