<!DOCTYPE html>
<html>
	<head>
		<title>DoRubyTuesday</title>
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" %>
		<%= csrf_meta_tag %>
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
	</head>
	<body>
		<%= yield %>
	</body>
</html>
